.header1 {
  background-image: linear-gradient(90deg, rgba(97,154,217,1) 0%, rgba(79,130,200,1) 17%, rgba(2,21,96,1) 100%);
  text-align: center;
  color: white;
  }
  
  .hrStyle {
      border-top: 1px solid black
    }
  
    .containerOne {
    position: absolute;
      height: 150px;
    width: 300px;
  
  right: 82%;
  }
  
  .buttonA, .buttonB, .buttonC, .buttonD, .buttonE {
  background-color: rgb(180, 177, 174);
  color: black;
  border-color:rgb(180, 177, 174);
  } 
  
  .containerTwo{
  
      position: absolute;
      height: 42%;
      width: 77%;
      border: 1px solid rgb(221, 212, 212);
    right:3%; 
    
  
  }
  
  .containerThree {
      position: absolute;
      height: 42%;
      width: 77%;
      bottom: 8%;
    right:3%; 
    
  
  
  }
  
  .containerAll {
  position: relative;
  
  }
  
  ul {
  
      list-style: none;
      
  }
  
  li {
      font-size: 20px;
      
  
  }
  
  .flexRow{
      flex-direction: row;
  }
  
  .containerThree .card {
  background-color: rgb(76, 92, 107);
  color: white;
  
  }
 .card ul li{
margin-left: -70%;
  font-size: 18px;
 }

 .card header{
font-size: 23px;
margin-top: -26%;

 }

 .h1Txt {
   font-size: 35px;


 }

 .Search {
   margin: 6px 7px 20px 7px;


 }
 
 